/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* Estilo para Elementos principales de eq-mat. */
 body.toplevel_page_jgb-eqmat-admin #wpbody-content > h2,
 body.toplevel_page_jgb-eqmat-admin #wpbody-content > .eqmnt-item-add-edit,
 body.toplevel_page_jgb-eqmat-admin #wpbody-content > #jgb-eqmat-admin{
    padding-right: 20px;
 }

.processing img {
	width: 20px;
	border-radius: 10px;
}
